.hero {
  min-height: 40 vh;
}

.heroContent {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  color: #fff;
}

.title {
  font-family: 'Hanson', 'Helvetika', 'Arial', sans-serif;
  font-size: 18 vw;
  font-weight: bold;
} 

.line1 {
  font-weight: bold;
}

.line2 {
  font-weight: bold;
}

.heroDescription {
  font-size: 0.7rem;
  color: var(--weak-text-color);
  margin-top: 1rem;
}

.heroImage {
  width: 90vw;
  justify-content: center;
  height: auto;
  margin-top: 2rem;
  /* line2の全面、line1の背面に右下から入り込むような移動を実現するCSSアニメーション */
}

.latestArticles {
  display: flex;
  flex-direction: column;

}

.articleCard {
  display: flex;
  
}

.articleLink {
  display: flex;
}

.articleImage {
  width: 100%;
  height: auto;
}

.articleInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  color: #fff;

}

.articleTitle {
  font-size: 1.5rem;
  font-weight: bold;
}

.articleMeta {
  font-size: 0.7rem;
  color: var(--weak-text-color);
  margin-top: 1rem;
}

.date {
  font-size: 0.7rem;
  color: var(--weak-text-color);
  margin-top: 1rem;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.tag {
  font-size: 0.7rem;
  color: var(--weak-text-color);
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--weak-text-color);
}

