
:root {
  --primary-color: #f7380d;
  --secondary-color: #111be2;
  --background-color: #0e0e0e;
  --link-color:var(--primary-color);
  --visited-link-color: #b72c41;
  --shade-color: #484848;
  --text-color: #f6f6f6;
  --weak-text-color: #7e7e7e;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  font-family: 'Noto Sans JP', Arial, sans-serif; /* フォントファミリーを追加 */
  line-height: 1.75;
  background-color: var(--background-color);
  color: var(--text-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  display: flex;
  padding: 0;
  flex-direction: column;
  justify-content: space-around;
  max-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

div {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;

}

body > div {
  padding: 0.5rem;
  max-width: 100vw;
  margin: 0 auto;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  line-height: 1.5;
  color: var(--text-color);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.125rem;
}



/* Style links */
a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: var(--visited-link-color);
}

/*brasic stying of tables*/



/* Container for centering content */
main {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0; /* Add extra top margin to account for fixed header */
  margin-bottom: calc(2rem + 200px); /* Add extra bottom margin to account for fixed footer */
  background: var(--background-color);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* Font styles */

.body-text {
  font-family: 'source-han-sans-jp-variable', 'Helvetika', 'Arial', sans-serif;
  font-variation-settings: 'wght' 250;
}

.heading {
  font-family: 'montserrat', 'Helvetika', 'Arial', sans-serif;
  font-weight: 900;
  font-style: italic;
}

.heading-normal {
  font-family: 'montserrat', 'Helvetika', 'Arial', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header-footer {
  font-family: 'vdl-yotag', 'Helvetika', 'Arial', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.nav-menu {
  font-family: 'franklin-gothic-atf', 'Helvetika', 'Arial', sans-serif;
  font-weight: 200;
  font-style: normal;
}

.nav-menu-heading {
  font-family: 'franklin-gothic-atf', 'Helvetika', 'Arial', sans-serif;
  font-weight: 700;
  font-style: italic;
}
