html {
  font-size: 16px;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #f7380d;
  --secondary-color: #111be2;
  --background-color: #0e0e0e;
  --link-color:var(--primary-color);
  --visited-link-color: #b72c41;
  --shade-color: #484848;
  --text-color: #f6f6f6;
  --font-family: 'Noto Sans JP', Arial, sans-serif; /* フォントファミリーを追加 */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
}

/* Style links */
a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: var(--visited-link-color);
}

/* Container for centering content */

main {
  padding: 10px;
  margin: 20px 50px;
  background: var(--background-color);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* Font styles */

.body-text {
  font-family: 'source-han-sans-jp-variable', 'Helvetika', 'Arial', sans-serif;
  font-variation-settings: 'wght' 250;
}

.heading {
  font-family: 'montserrat', 'Helvetika', 'Arial', sans-serif;
  font-weight: 900;
  font-style: italic;
}

.heading-normal {
  font-family: 'montserrat', 'Helvetika', 'Arial', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header-footer {
  font-family: 'vdl-yotag', 'Helvetika', 'Arial', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.nav-menu {
  font-family: 'franklin-gothic-atf', 'Helvetika', 'Arial', sans-serif;
  font-weight: 200;
  font-style: normal;
}

.nav-menu-heading {
  font-family: 'franklin-gothic-atf', 'Helvetika', 'Arial', sans-serif;
  font-weight: 700;
  font-style: italic;
}